
{% extends "base.html" %}

{% block content %}

                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
                     <br>
<div class="row">
    <div class="divide">
      <div class="contact">
         <div class="container">
            <div class="row ">


               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_left">
                     <h2>Employee Login</h2>
                  </div>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Userid..." type="type" name=" userid">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Password..." type="Password" name="Password">
                        </div>

                        <div class="col-md-12">
                           <button class="send_btn">Login</button>

                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
    </div>


        <div class="divide">
      <div class="contact">
         <div class="container">
            <div class="row ">


               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_left">
                     <h2>Employee Login</h2>
                  </div>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Userid..." type="type" name=" userid">
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Password..." type="Password" name="Password">
                        </div>

                        <div class="col-md-12">
                           <button class="send_btn">Login</button>

                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                                   <br>
                     <br>
                     <br>
                     <br>
                     <br>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
    </div>
      </div>
{% endblock %}

